
body{
    background-color: transparent;
    height: 215px;
    width: 200px;
    padding: 10px;
}

h2{
    margin: auto;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

#URL_area
{
    border: none;
    border-bottom: 1px solid cadetblue;
    margin-top: 30px;
    width: 180px;
    padding: 5px 10px 5px 10px;
    
    outline: 0;
    transition: border-bottom 0.5s, width 0.2s ease-in-out;
}


#URL_area:focus
{
    width: 180px;
    border-bottom: solid cadetblue 1px;
}

#URL_area:invalid
{
    border-bottom: solid red 1px;
}

#dl-video{
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 9px #999;
    text-decoration:none;

    outline: 0 !important;

    user-select: none;
    -webkit-user-select: none;

}

#dl-video:hover {
    background-color: #008B8B
}

#dl-video:active {
  background-color: #008B8B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration:none;
  outline: 0;
}

#dl-audio{
    background-color: #A3424E;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    vertical-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 9px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 9px #999;
    text-decoration:none;

    outline: 0 !important;

    user-select: none;
    -webkit-user-select: none;

}

#dl-audio:hover {
    background-color: #82343D
}

#dl-audio:active {
  background-color: #82343D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration:none;
  outline: 0;
}

.slidecontainer
{
    margin-top: 15px;
}

#slider-infos
{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    user-select: none;
    -webkit-user-select: none;
}

#multiSliderHandle{
    border-radius: 25px;
    outline: 0;
    background-color: #008B8B;
    border: solid white 1px;
}

.ui-slider-range
{
    background-color: cadetblue !important;
}

.ui-slider
{
    background: repeating-linear-gradient(
        -45deg,
        #ffff,
        #ffff 10px,
        #5555 10px,
        #5555 20px
    );
}